<nav id="sidenav" class="sidenav" data-mdb-color="warning" data-mdb-hidden="false" data-mdb-accordion="true">
    <a class="ripple d-flex justify-content-center py-4" data-mdb-ripple-color="warning" href="/">
        <img class="brand" src="/img/brands.png" draggable="false" />
    </a>
    <ul class="sidenav-menu">
        <li class="sidenav-item">
            <a class="sidenav-link" href="/">
                <i class="fa-duotone fa-chart-area fa-fw me-3" style="--fa-primary-color: orange"></i>
                <span>ภาพรวม</span>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link">
                <i class="fa-duotone fa-chart-line fa-fw me-3" style="--fa-primary-color: orange"></i>
                <span>รายงาน</span>
                <i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/report/day">ประจำวัน</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/report/month">ประจำเดือน</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/report/year">ประจำปี</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/report/alltime">ตลอดเวลา</a>
                </li>
            </ul>
        </li>
        <!-- <li class="sidenav-item">
            <a class="sidenav-link">
                <i class="fa-duotone fa-users fa-fw me-3" style="--fa-primary-color: orange"></i>
                <span>พาทเนอร์</span>
            </a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/partner/create">เพิ่มพาทเนอร์</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/partner/list">รายชื่อพาทเนอร์</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/partner/history">ประวัติ</a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link">
                <i class="fa-duotone fa-headset fa-fw me-3" style="--fa-primary-color: orange"></i>
                <span>ทีมงาน</span>
            </a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/operator/create">เพิ่มทีมงาน</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/operator/list">รายชื่อทีมงาน</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/operator/history">ประวัติ</a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link">
                <i class="fa-duotone fa-gamepad-modern fa-fw me-3" style="--fa-primary-color: orange"></i>
                <span>ค่ายเกม</span>
            </a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/gamestudio/create">เพิ่มค่ายเกม</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link" href="/gamestudio/list">รายชื่อค่ายเกม</a>
                </li>
            </ul>
        </li> -->
    </ul>
</nav>
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav" class="btn shadow-0 p-0 me-3 d-block d-xxl-none"
            aria-controls="#sidenav" aria-haspopup="true">
            <i class="fas fa-bars fa-lg"></i>
        </button>
        <ul class="navbar-nav ms-auto d-flex flex-row">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                    id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <img src="/img/favicon.png" class="rounded-circle" height="22" alt="Avatar" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">ข้อมูลส่วนตัว</a></li>
                    <li><a class="dropdown-item" href="/client/logout">ออกจากระบบ</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>